.tut-main {
    background-color: #86ad74;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video {
    width: 100%;
}

.Videowidth {
    width: 700px;
}

@media(min-width: 2000px) and (max-width: 6000px) {
    .Videowidth {
        width: 1900px;
    }
}

@media(max-width: 600px) {
    .video {
        width: auto;
    }
    .Videowidth {
        width: 390px;
    }
}

@media(max-width: 400px) {
    .Videowidth {
        width: 300px;
    }
}